.hero-container{
    
}

.hero-container-left{
    flex-direction: column;

}

.flipword-wrapper div{
    display: inline-block;
}

.large{
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	line-height: var(--h1-line-height);
}